/*------Major Third Screen-----------*/
.third-screen{
    background-color: #f3f3f3;
    /* height:100vh; */
    position: absolute;
    top: 70px; left:0;
    width: 100%;
}
.third-screen .color-gray{
    z-index: -1;
    background-color: #f3f3f3;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
.third-screen .createQuizz-container{
    max-width: 600px;
    margin: 0px auto;
}
.third-screen section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-------form settings--------*/

.third-screen form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.third-screen form > div{
    background-color: #ffffff;
    width: 100%;
    padding: 20px 16px;
    margin: 10px 0px;
}
.third-screen form ::placeholder{
    font-weight: 400;
    font-style: italic;
    font-size: 19px;
    color: #c0c0c0;
}
.third-screen form  :focus, .third-screen form :hover {
    border-color: #747474;
}

.third-screen form input, .third-screen form textarea{
    width: 100%;
    padding: 14px 14px 11px;
    margin: 4px 0px;
    border: #c0c0c0 1px solid;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 400;
    color: #797979;
    resize: vertical;
}
.third-screen form ion-icon{
    font-size: 26px;
}

/*-----------Text formatting------------*/

.third-screen h1 , .third-screen h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 23.4px ;
}

.third-screen  h1{              /*usa h1 pra texto fora do forms e */
    margin: 38px 0px 20px;
    text-align: center;         /*h2 para texto negritado dentro do forms*/ 
}
.third-screen h2{
    margin: 20px 0px;

}

/*-----button and selected JavaScript-------*/

.third-screen button{
    background-color: #EC362D;
    color: #ffffff;
    border-radius: 15px;
    padding: 18px 0px;
    width: 70%;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
}

input :invalid{
    background-color: #FFE9E9;
}


.third-screen form header{
    display: none;
}
.third-screen form footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.third-screen form .selected header{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: inherit;
}
.third-screen form .selected footer{
    display: none;

}
/*--------Helpful assets----------*/

.third-screen .space{
    height: 15px;
}
.third-screen .hidden{
    display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="color"]{
    height: 20px;    
}

.third-screen form .wrong-answers{
    width: 100%;
}

/*error Validation */

.third-screen form .error {
    color: #EC362D;
    font-weight: 400px;
    line-height: 18.75px;
}

.third-screen form .problem {
    background-color: #FFE9E9;
}


























/* nando  */
.user-created-quizz{
    position: relative;
}

.user-created-quizz img {
    width: 340px;
    height: 181px;
    object-fit: cover;
    object-position: center;

    border-radius: 12px;
}

.user-created-quizz p{
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
    font-size: 19px;
}


























