.third-screen{
    background-color: #f3f3f3;
    margin-top: -10px;
}
.third-screen .createQuizz-container{
    max-width: 600px;
    margin: 80px auto;
}

.third-screen section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-screen form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.third-screen form > div{
    background-color: #ffffff;
    padding: 20px 16px;
}
.third-screen form ::placeholder{
    font-weight: 400;
    font-style: italic;
    font-size: 19px;
    color: #c0c0c0;
}
.third-screen form input{
    width: 100%;
    padding: 14px 14px 11px;
    margin: 4px 0px;
    border: #c0c0c0 1px solid;
    border-radius: 5px;
}



.third-screen h1 , .third-screen h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 23.4px ;
}

.third-screen  h1{              /*usa h1 pra texto fora do forms e */
    margin: 20px 0px;
    text-align: center;         /*h2 para texto negritado dentro do forms*/ 
}
.third-screen h2{
    margin: 20px 0px;

}

.third-screen button{
    background-color: #EC362D;
    color: #ffffff;
    border-radius: 15px;
    padding: 18px 0px;
    width: 70%;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 400;
}

.third-screen .space{
    height: 10px;
}

.third-screen .hidden{
    display: none;
}


/* rodrigo */


































































































/* nando  */



























